{
    "swagger": "2.0",
    "info": {
        "title": "DAEGU HISTORY API",
        "version": "1.0.0"
    },
    "host": "port-0-yj4-teamproject-daeguhistory-rccln2llw8jnbjk.sel5.cloudtype.app/",
    "schemes": ["https"],
    "paths": {
        "/api/user/login": {
            "post": {
                "summary": "사용자 로그인",
                "description": "이 API는 사용자가 이메일과 비밀번호를 통해 시스템에 로그인할 수 있게 합니다.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": "로그인에 사용할 이메일 주소"
                                },
                                "password": {
                                    "type": "string",
                                    "description": "로그인에 사용할 비밀번호"
                                }
                            },
                            "required": ["email", "password"]
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/api/user/register": {
            "post": {
                "summary": "사용자 회원가입",
                "description": "이 API는 새로운 사용자를 등록합니다. 사용자는 이메일, 비밀번호, 이름, 전화번호를 제공해야 합니다.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": "회원가입에 사용할 이메일 주소"
                                },
                                "password": {
                                    "type": "string",
                                    "description": "회원가입에 사용할 비밀번호"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "회원가입에 사용할 이름"
                                },
                                "phone": {
                                    "type": "string",
                                    "description": "회원가입에 사용할 전화번호"
                                }
                            },
                            "required": ["email", "password", "name", "phone"]
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/api/user/update": {
            "put": {
                "summary": "사용자 정보 수정",
                "description": "이 API는 로그인된 사용자의 정보를 수정합니다. 수정 가능한 정보는 이메일, 이름, 전화번호입니다.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Bearer {accessToken}"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": "수정할 이메일 주소"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "수정할 이름"
                                },
                                "phone": {
                                    "type": "string",
                                    "description": "수정할 전화번호"
                                }
                            },
                            "required": ["email", "name", "phone"]
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/api/user/delete": {
            "delete": {
                "summary": "사용자 계정 삭제",
                "description": "이 API는 로그인된 사용자의 계정을 삭제합니다.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Bearer {accessToken}"
                    }
                ],
                "responses": {}
            }
        },
        "/api/user/profile": {
            "get": {
                "summary": "사용자 정보 조회",
                "description": "이 API는 로그인된 사용자의 정보를 불러옵니다.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Bearer {accessToken}"
                    }
                ],
                "responses": {}
            }
        },
        "/api/course/list": {
            "get": {
                "summary": "사용자 투어 목록 조회",
                "description": "이 API는 사용자가 방문할 투어 목록을 조회합니다.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Bearer {accessToken}"
                    },
                    {
                        "name": "course_tour",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "사용자가 방문할 투어"
                    }
                ],
                "responses": {}
            }
        },
        "/api/course/deatil": {
            "get": {
                "summary": "사용자 코스 디테일 조회",
                "description": "이 API는 사용자가 방문한 코스 목록을 조회합니다.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Bearer {accessToken}"
                    },
                    {
                        "name": "course_name",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "사용자가 방문한 투어의 이름"
                    }
                ],
                "responses": {}
            }
        },
        "/api/course/qr": {
            "post": {
                "summary": "투어 방문 확인",
                "description": "이 API는 사용자가 투어 코스를 방문했음을 확인하기 위해 QR 코드를 제출합니다.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Bearer {accessToken}"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "qrCode": {
                                    "type": "string",
                                    "description": "방문 확인을 위한 QR 코드"
                                }
                            },
                            "required": ["qrCode"]
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/api/oauth/token": {
            "post": {
                "summary": "토큰 재발급",
                "description": "이 API는 사용자의 토큰을 재발급합니다. 갱신 토큰이 필요합니다.",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "Bearer {refreshToken}"
                    }
                ],
                "responses": {}
            }
        }
    }
}
